@use 'variables' as v;

@mixin telefono{
    @media screen and (min-width:v.$telefono){
        @content;
    }
}

@mixin tablet{
    @media screen and (min-width:v.$tablet){
        @content;
    }
}

@mixin desktop{
    @media screen and (min-width:v.$desktop){
        @content;
    }
}

@mixin desktopXL{
    @media screen and (min-width:v.$desktopXL){
        @content;
    }
}

@mixin contenedor{
    width: 95%;
    max-width: 120rem;
    margin: 0 auto;
}

@mixin grid($columnas:1, $gap:5rem){
    display: grid;
    grid-template-columns: repeat($columnas, 1fr);
    gap: $gap;
}